{{!

    Renders:
      Description
      Description Title
      Description Text

    Microdata:
      Description

}}

<div class="sidebar-item sidebar-description">

  <p itemprop="description" class="sidebar-description">Men (and women) wanted for hazardous journey. Small wages. Bitter cold. Long months of complete darkness. Constant danger. Safe return doubtful. Honour and recognition in case of success.</p>

  Complain <a href="mailto:dsuo@post.harvard.edu">here</a>. <a href="http://danielsuo.com/pubkey.txt">Securely</a>.

</div>
