{{!

    Renders:
      Description
      Description Title
      Description Text

    Microdata:
      Description

}}

<div class="sidebar-item sidebar-description">

  <p itemprop="description" class="sidebar-description">{{{@blog.description}}}</p>

</div>
