{{!

    Renders:
      Description
      Description Title
      Description Text

    Microdata:
      Description

}}

<div class="sidebar-item sidebar-description">

  <p itemprop="description" class="sidebar-description">Documenting the process from 0 to PhD. Please excuse (and correct!) any failings. Complain <a href="mailto:dsuo@post.harvard.edu">here</a>. <a href="https://raw.githubusercontent.com/danielsuo/danielsuo.github.io/master/pubkey.txt">Securely</a>.</p>

</div>
