{{!

    Renders:
      Links Title
      Links Twitter
      Links Github
      Links Dribbble
      Links Youtube
      Links Flickr
      Links Instagram
      Links Facebook
      Links Linkedin
      Links Stumbleupon
      Links Google Plus
      Links Pinterest

}}

<div class="sidebar-item sidebar-links">

  <div class="nav nav--icons">

    {{!-- Github --}}
    <a target="_blank" class="icon icon-github nav-item" title="Github" href="http://www.github.com/danielsuo">Github</a>

    {{!-- Linkedin --}}
    <a target="_blank" class="icon icon-linkedin nav-item" title="Linkedin" href="https://www.linkedin.com/in/danielsuo">Linkedin</a>

    {{!-- Google Plus --}}
    <a target="_blank" class="icon icon-googleplus nav-item" title="Google Plus" href="https://plus.google.com/+DanielSuo">Google Plus</a>

    {{!-- RSS --}}
    <a target="_blank" class="icon fa fa-rss nav-item" title="rss" href="http://suo.ghost.io/rss/">RSS</a>
    
  </div>

</div>
