{{!

    Renders:
      Mailchimp Form

}}

<div class="sidebar-item sidebar-form">

  <form action="//floored.us7.list-manage.com/subscribe/post?u=727c44745907c40a5848a23ed&amp;id=850ec98d50" method="post" id="mc-embedded-subscribe-form" method="post" target="_blank" class="form header-item header-form">
    <label class="form-label" for="EMAIL">Get the weekly digest. Or consume the <a href="/rss">feed</a>.</label>
    <input class="form-input" type="email" value="" name="EMAIL" placeholder="boink@progress.science*">
    <input class="form-input-hidden" type="text" name="b_bfc6800b36c550f21bcf4992c_3369c607db" tabindex="-1" value="" hidden>
    <input class="form-btn" type="submit" value="&rarr;" name="subscribe">
  </form>

  * Sadly, <a href="https://domainr.com/progress.science?q=progress.science">taken</a>.

</div>