{{!

    Renders:
      Subscription
      Subscription Title
      Subscription Text

    Microdata:
      Subscription

}}

<div class="sidebar-item sidebar-description">

  <a href="http://suo.ghost.io/rss">Subscribe.</a>

</div>
