{{!

    Renders:
      Title

    Microdata:
      Blog Name
      Blog URL

}}

<h1 itemprop="name" class="main-title">
  <a itemprop="url" href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a>
  <p itemprop="description" style="font-size: 0.75em">{{{@blog.description}}}</p>
</h1>
