{{!

    Renders:
      Featured Post 
      Post
}}

{{!< default}}

I'm a graduate student in computer science. I spend my days fumbling with extruded aluminum and GPUs. Maybe eventually I'll figure out what's going on. This is a relatively new site, so please forgive the disarray and constant tweaking.

<br><br>

For now, I try to write once or more per day about what I'm working on in <a href='/tag/log'>The Log</a>. Over time, I'm also adding more to <a href='/notes'>Notes</a> and <a href='/collections'>Collections</a>.

<br><br>

If you're still reading this page, I'd love to <a href="mailto:dsuo@post.harvard.edu">chat</a>!

<br><br>

<img src="http://suo.ghost.io/content/images/2015/08/11411897_10102165406040731_2508249764166568524_o-1.jpg"></img>