{{!

    Renders:
      Featured Post 
      Post
}}

{{!< default}}

I'm a graduate student in computer science. I spend my days fumbling with extruded aluminum and GPUs. Maybe I'll figure out what's going on.

<br><br>

If you're still reading this page, I'd love to <a href="mailto:dsuo@post.harvard.edu">chat</a>!

<br><br>

<img src="http://suo.ghost.io/content/images/2015/08/11411897_10102165406040731_2508249764166568524_o-1.jpg"></img>