{{!

    Renders:
      Post

}}

{{!< default}}

{{#post}}
  <div class="msg main-item main-message">
    <h3 class="msg-item">{{title}}</h3>
  </div>

  <div class="main-message" style="list-style: disc !important;">
    {{content}}
  </div>

{{/post}}
