{{!

    Renders:
      Keyword
      Post

}}

{{!< default}}

  <div class="msg main-item main-message">
    <h3 class="msg-item">All the #{{#tag}}{{name}}{{/tag}}</h3>
  </div>

{{#foreach posts}}
  
{{> "post" }}

{{/foreach}}
